@page "/cuti"

@using AbsenCoordinatWeb.Models
@using AbsenCoordinatWeb.Data


@inject CutiService cutiService
@inject NavigationManager nav

<h4>CUTI</h4>
<p>Dafar Cuti dan Pengajuan Cuti</p>
<a href="/cuti/create"><span class="oi oi-plus" aria-hidden="true"></span></a>

@if (cuties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Pengajuan</th>
                <th>Status</th>
                <th>Karyawan</th>
                <th>Mulai Cuti</th>
                <th>Sampai</th>
                <th>Disetujui</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cuties)
            {
            <tr>
                <td>@item.TanggalPengajuan</td>
                <td>@item.StatusPengajuan</td>
                <td>@item.Karyawan.Name</td>
                <td>@item.Mulai</td>
                <td>@item.Berakhir</td>
                <td>@item.DisetujuiOleh.Name</td>
                <td>
                    <button @onclick="()=>edit(item.Id)" class="btn btn-warning"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Cuti> cuties;

    protected override async Task OnInitializedAsync()
    {
        cuties = await cutiService.Get();
    }

    void edit(int id)
    {
        nav.NavigateTo($"/cuti/change/{id}");
    }
}
